<ul class="list-unstyled users-list m-0  d-flex align-items-center">
    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" class="pull-up">
        <a class="nav-link" value="1" data-toggle="tooltip" data-placement="top" ><i class="ficon feather icon-star"></i></a>
    </li>
    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" class="pull-up">
        <a class="nav-link" value="2" data-toggle="tooltip" data-placement="top" ><i class="ficon feather icon-star"></i></a>
    </li>
    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" class="pull-up">
        <a class="nav-link" value="3" data-toggle="tooltip" data-placement="top" ><i class="ficon feather icon-star"></i></a>
    </li>
    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" class="pull-up">
        <a class="nav-link" value="4" data-toggle="tooltip" data-placement="top" ><i class="ficon feather icon-star"></i></a>
    </li>
    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" class="pull-up">
        <a class="nav-link" value="5" data-toggle="tooltip" data-placement="top" ><i class="ficon feather icon-star"></i></a>
    </li>
</ul>