<%- include ('../../Partials/headerStyle.ejs'); %>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>


    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab"
                                            data-toggle="tab" href="#account" aria-controls="account" role="tab"
                                            aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span
                                                class="d-none d-sm-block">Perfil</span>
                                        </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" id="information-tab"
                                            data-toggle="tab" href="#information" aria-controls="information" role="tab"
                                            aria-selected="false">
                                            <i class="feather icon-map-pin mr-25"></i><span
                                                class="d-none d-sm-block">Endereços</span>
                                        </a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" id="social-tab" data-toggle="tab"
                                            href="#changePassword" aria-controls="social" role="tab"
                                            aria-selected="false">
                                            <i class="feather icon-lock mr-50 font-medium-3"></i><span
                                                class="d-none d-sm-block">Trocar Senha</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                        role="tabpanel">
                                        <!-- users edit media object start -->
                                        <div class="media mb-2">
                                            <a class="mr-2 my-25" href="#">
                                                <img src="../../../app-assets/images/portrait/small/avatar-s-11.jpg"
                                                    alt="users avatar" class="users-avatar-shadow rounded" height="90"
                                                    width="90">
                                            </a>
                                            <div class="media-body mt-50">
                                                <h4 class="media-heading">John Doe</h4>
                                                <div class="col-12 d-flex mt-1 px-0">
                                                    <a href="#" id="editarFoto"
                                                        class="btn btn-primary d-none d-sm-block mr-75">Alterar</a>
                                                    <a href="#" class="btn btn-primary d-block d-sm-none mr-75"><i
                                                            class="feather icon-edit-1"></i></a>
                                                    <a href="#" id="apagarFoto"
                                                        class="btn btn-outline-danger d-none d-sm-block">Apagar</a>
                                                    <a href="#" class="btn btn-outline-danger d-block d-sm-none"><i
                                                            class="feather icon-trash-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- users edit media object ends -->
                                        <!-- users edit account form start -->
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>Nome Completo</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Nome Completo" name="name" id="name" required
                                                                data-validation-required-message="Preencha o campo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gênero</label>
                                                        <select class="form-control" name="gender" id="gender">
                                                            <option value="F">Feminino</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="O">Outros</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>Descrição do Perfil</label>
                                                            <textarea class="form-control" name="description"
                                                                id="description" required
                                                                data-validation-required-message="Preencha o campo">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>CPF</label>
                                                            <input type="text" class="form-control" name="cpf" id="cpf"
                                                                required
                                                                data-validation-required-message="Preencha o campo">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>E-mail</label>
                                                            <input type="email" class="form-control" name="email"
                                                                id="email" required
                                                                data-validation-required-message="Preencha o campo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Celular</label>
                                                        <input type="text" class="form-control" name="cellPhone"
                                                            id="cellPhone">
                                                    </div>
                                                </div>

                                                <div
                                                    class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                                    <button type="button" name="saveuser" id="saveuser"
                                                        class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1"
                                                        onclick="edit_user_account()">Salvar</button>
                                                    <button id="deleteUser" name="deleteUser" onclick="user_delete()"
                                                        class="btn btn-outline-danger d-none d-sm-block">Apagar
                                                        Conta</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- users edit account form ends -->
                                    </div>
                                    <div class="tab-pane" id="information" aria-labelledby="information-tab"
                                        role="tabpanel">
                                        <div class="nav-vertical">
                                            <div class="col-12 col-sm-12">
                                                <h5 class="mb-1 mt-2 mt-sm-0"><i
                                                        class="feather icon-map-pin mr-25"></i>Endereços Salvos</h5>
                                            </div>

                                            <ul class="nav nav-tabs nav-left flex-column" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center active"
                                                        id="account-tab" data-toggle="tab" href="#address1"
                                                        aria-controls="account" role="tab" aria-selected="true">
                                                        <i class="fa fa-graduation-cap mr-25"></i><span
                                                            class="d-none d-sm-block">Faculdade</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center" id="information-tab"
                                                        data-toggle="tab" href="#address2" aria-controls="information"
                                                        role="tab" aria-selected="false">
                                                        <i class="fa fa-building mr-25"></i><span
                                                            class="d-none d-sm-block">Trabalho</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center" id="social-tab"
                                                        data-toggle="tab" href="#address3" aria-controls="social"
                                                        role="tab" aria-selected="false">
                                                        <i class="fa fa-book mr-25"></i><span
                                                            class="d-none d-sm-block">Curso</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center" id="social-tab"
                                                        data-toggle="tab" href="#address4" aria-controls="social"
                                                        role="tab" aria-selected="false">
                                                        <i class="material-icons mr-25">fitness_center</i><span
                                                            class="d-none d-sm-block">Treino</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- users edit Info form start -->

                                            <div class="tab-pane active" id="address1" aria-labelledby="account-tab"
                                                role="tabpanel">

                                                <form novalidate>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>CEP</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="CEP" value="00000-000" required
                                                                        data-validation-required-message="Preencha o campo">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Número</label>
                                                                <input type="text" class="form-control" value="123"
                                                                    placeholder="Número">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Cidade</label>
                                                                    <input type="text" class="form-control"
                                                                        value="São paulo" placeholder="Cidade">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Rua</label>
                                                                    <input type="text" class="form-control"
                                                                        value="Rua das amoras" placeholder="Rua">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Bairro</label>
                                                                <input type="text" class="form-control"
                                                                    value="Rua das amoras" placeholder="Bairro">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Estado</label>
                                                                <select class="form-control">
                                                                    <option>Feminino</option>
                                                                    <option>Masculino</option>
                                                                    <option>Outros</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>

                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                                <button type="submit"
                                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Salvar</button>
                                                <button type="reset" class="btn btn-outline-warning">Desfazer
                                                    Alterações</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="changePassword" aria-labelledby="social-tab"
                                        role="tabpanel">
                                        <form novalidate id="reset_password_form" name="reset_password_form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="account-old-password">Senha Atual</label>


                                                            <input type="password" class="form-control" id="oldPassword"
                                                                name="oldPassword" required placeholder="Senha Antiga">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label form="account-new-password">Nova Senha</label>
                                                            <input type="password" name="newPassword"
                                                                id="newPassword" class="form-control"
                                                                placeholder="Nova Senha" >

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="account-retype-new-password">Confirmar Nova
                                                                Senha</label>
                                                            <input type="password" name="confPassword"
                                                                class="form-control" id="confPassword"
                                                                placeholder="Confirmar nova senha">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">

                                                    <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                                                        type="button" id="changePassword" name="changePassword">Salvar
                                                        Senha</button>
                                                    <button type="reset"
                                                        class="btn btn-outline-warning">Cancelar</button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer class="footer footer-static footer-light">

    </footer>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="../../../app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>

    <script src="../../../app-assets/js/scripts/pages/app-user.js"></script>
    <script src="../../../app-assets/js/scripts/navs/navs.js"></script>

    <!-- END: Page JS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="../../../app-assets/js/scripts/jquery.mask.js"></script>
    <script type="text/javascript">


        function buscar_user(userId) {
            //debugger;
            let site = "http://localhost:3000/user/" + userId;
            $.ajax({
                type: 'get',
                url: site,
                dataType: "json",
                contentType: "application/json",
                success: function (retorno) {
                    console.log('success', retorno);
                    var userInfo = retorno.data;
                    $("#name").val(userInfo.name);
                    $("#gender").val(userInfo.gender);
                    $("#description").val(userInfo.description);
                    $("#cpf").val(userInfo.cpf);
                    $("#email").val(userInfo.email);
                    $("#cellPhone").val(userInfo.cellPhone);


                },
                error: function (retorno) {
                    console.log('error', retorno)
                }
            })
        }

        $("#changePassword").click(function (e) {
            console.log('click')
            e.preventDefault();
            $('#reset_password_form').validate({
                rules: {
                    oldPassword: "required",
                    newPassword: {
                        required: true,
                        minlength: 8
                    },
                    confPassword: {
                        required: true,
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    oldPassword: "O campo senha é obrigatório.",
                    newPassword: {
                        required: "O campo senha é obrigatório",
                        minLength: "O campo senha deve ter pelo menos 8 caracteres."
                    },
                    confPassword: {
                        required: "O campo confirmação de senha é obrigatório.",
                        equalTo: "O campo confirmação de senha deve ser idêntico ao campo senha."
                    }
                }
            });
            if (!$("#reset_password_form").valid()) {
                return;
            } else {
                console.log('else')
                //debugger;
                edit_user_password();
            }
        })   

        


        function edit_user_account() {
            let site = "http://localhost:3000/users/" + JSON.parse(localStorage.getItem("currentUser")).id;
            $.ajax({
                type: 'put',
                url: site,
                data: JSON.stringify({
                    name: $("#name").val(),
                    email: $("#email").val(),
                    cpf: $("cpf").val(),
                    cellPhone: $("#cellPhone").val(),
                    gender: $("#gender").val(),
                    description: $("#description").val()
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (retorno) {
                    localStorage.setItem("currentUser", JSON.stringify(retorno.user));
                    console.log('success', retorno);
                    alert('Dados Atualizados com sucesso!');
                    window.location = "/app-user-edit";

                },
                error: function (retorno) {
                    console.log('error', retorno)
                    alert("Nâo foi possível atualizar seus dados \n" + retorno)
                }
            })
        }

        function edit_user_password() {
            //debugger;
            let site = "http://localhost:3000/usersp/" + JSON.parse(localStorage.getItem("currentUser")).id;
            $.ajax({
                type: 'put',
                url: site,
                data: JSON.stringify({
                    password: $("#oldPassword").val(),
                    newPassword: $("#newPassword").val()
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (retorno) {
                    if (retorno.data.id != null && retorno.data.id != undefined && retorno.data.id != "") {
                        console.log('success', retorno);
                        alert("Senha Atualizada com sucesso");
                        window.location = "/app-user-edit";
                    }
                    else{
                        alert(retorno.data);
                        $("#oldPassword").val("");
                        $("#newPassword").val("");
                        $("#confPassword").val("");
                        $("#oldPassword").focus;
                    }
                },
                error: function (retorno) {
                    console.log('error', retorno)
                    alert("Não foi possível atualizar seus dados \n" + retorno.data)
                }
            })
        }

        function user_delete() {
            //debugger;
            let site = "http://localhost:3000/users/" + JSON.parse(localStorage.getItem("currentUser")).id;
            let r = confirm("Gostaria de deletar sua conta?")
            if (r == true) {
                $.ajax({
                    type: 'delete',
                    url: site,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (retorno) {
                        console.log('success', retorno);
                        alert('Conta Deletada com sucesso');
                        window.location = "/auth-login";

                    },
                    error: function (retorno) {
                        console.log('error', retorno)
                        alert("Nâo foi possível atualizar seus dados \n" + retorno)
                    }
                })
            }
            else {
                window.location = "/app-user-edit"
            }
        }


            $(document).ready(function () {
            let user = JSON.parse(localStorage.getItem("currentUser"));
            let userId = user.id;
            let userPassword = user.password;
            buscar_user(userId);
            })  
    </script>

</body>

</html>