<%- include ('../../Partials/headerStyle.ejs'); %>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="users-edit">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-tab"
                                            data-toggle="tab" href="#account" aria-controls="account" role="tab"
                                            aria-selected="true">
                                            <i class="feather icon-user mr-25"></i><span
                                                class="d-none d-sm-block">Perfil</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" id="information-tab"
                                            data-toggle="tab" href="#information" aria-controls="information" role="tab"
                                            aria-selected="false">
                                            <i class="feather icon-map-pin mr-25"></i><span
                                                class="d-none d-sm-block">Endereços</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" id="social-tab" data-toggle="tab"
                                            href="#changePassword" aria-controls="social" role="tab"
                                            aria-selected="false">
                                            <i class="feather icon-lock mr-50 font-medium-3"></i><span
                                                class="d-none d-sm-block">Trocar Senha</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                        role="tabpanel">
                                        <!-- users edit media object start -->
                                        <div class="media mb-2">
                                            <a class="mr-2 my-25" href="#">
                                                <img src="../../../app-assets/images/portrait/small/avatar-s-18.jpg"
                                                    alt="users avatar" class="users-avatar-shadow rounded" height="90"
                                                    width="90">
                                            </a>
                                            <div class="media-body mt-50">
                                                <h4 class="media-heading">Angelo Sashington</h4>
                                                <div class="col-12 d-flex mt-1 px-0">
                                                    <a href="#" id="editarFoto"
                                                        class="btn btn-primary d-none d-sm-block mr-75">Alterar</a>
                                                    <a href="#" class="btn btn-primary d-block d-sm-none mr-75"><i
                                                            class="feather icon-edit-1"></i></a>
                                                    <a href="#" id="apagarFoto"
                                                        class="btn btn-outline-danger d-none d-sm-block">Apagar</a>
                                                    <a href="#" class="btn btn-outline-danger d-block d-sm-none"><i
                                                            class="feather icon-trash-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- users edit media object ends -->
                                        <!-- users edit account form start -->
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>Nome Completo</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Nome Completo" value="adoptionism744"
                                                                required
                                                                data-validation-required-message="Preencha o campo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gênero</label>
                                                        <select class="form-control">
                                                            <option>Feminino</option>
                                                            <option>Masculino</option>
                                                            <option>Outros</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>Descrição do Perfil</label>
                                                            <textarea class="form-control"
                                                                placeholder="Descrição" value=""
                                                                required
                                                                data-validation-required-message="Preencha o campo">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>CPF</label>
                                                            <input type="text" class="form-control" placeholder="Name"
                                                                value="Angelo Sashington" required
                                                                data-validation-required-message="Preencha o campo">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>E-mail</label>
                                                            <input type="email" class="form-control"
                                                                placeholder="E-mail" value="angelo@sashington.com"
                                                                required
                                                                data-validation-required-message="Preencha o campo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Celular</label>
                                                        <input type="text" class="form-control"
                                                            value="WinDon Technologies Pvt Ltd" placeholder="Celular">
                                                    </div>
                                                </div>

                                                <div
                                                    class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                                    <button type="submit"
                                                        class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Salvar</button>
                                                    <button id="apagarConta"
                                                        class="btn btn-outline-danger d-none d-sm-block">Apagar
                                                        Conta</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- users edit account form ends -->
                                    </div>
                                    <div class="tab-pane" id="information" aria-labelledby="information-tab"
                                        role="tabpanel">
                                        <div class="nav-vertical">
                                            <div class="col-12 col-sm-12">
                                                <h5 class="mb-1 mt-2 mt-sm-0"><i
                                                        class="feather icon-map-pin mr-25"></i>Endereços Salvos</h5>
                                            </div>

                                            <ul class="nav nav-tabs nav-left flex-column" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center active"
                                                        id="account-tab" data-toggle="tab" href="#address1"
                                                        aria-controls="account" role="tab" aria-selected="true">
                                                        <i class="fa fa-graduation-cap mr-25"></i><span
                                                            class="d-none d-sm-block">Faculdade</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center" id="information-tab"
                                                        data-toggle="tab" href="#address2" aria-controls="information"
                                                        role="tab" aria-selected="false">
                                                        <i class="fa fa-building mr-25"></i><span
                                                            class="d-none d-sm-block">Trabalho</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center" id="social-tab"
                                                        data-toggle="tab" href="#address3" aria-controls="social"
                                                        role="tab" aria-selected="false">
                                                        <i class="fa fa-book mr-25"></i><span
                                                            class="d-none d-sm-block">Curso</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center" id="social-tab"
                                                        data-toggle="tab" href="#address4" aria-controls="social"
                                                        role="tab" aria-selected="false">
                                                        <i class="material-icons mr-25">fitness_center</i><span
                                                            class="d-none d-sm-block">Treino</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- users edit Info form start -->

                                            <div class="tab-pane active" id="address1" aria-labelledby="account-tab"
                                                role="tabpanel">

                                                <form novalidate>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>CEP</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="CEP" value="00000-000" required
                                                                        data-validation-required-message="Preencha o campo">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Número</label>
                                                                <input type="text" class="form-control" value="123"
                                                                    placeholder="Número">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Cidade</label>
                                                                    <input type="text" class="form-control"
                                                                        value="São paulo" placeholder="Cidade">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Rua</label>
                                                                    <input type="text" class="form-control"
                                                                        value="Rua das amoras" placeholder="Rua">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Bairro</label>
                                                                <input type="text" class="form-control"
                                                                    value="Rua das amoras" placeholder="Bairro">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Estado</label>
                                                                <select class="form-control">
                                                                    <option>Feminino</option>
                                                                    <option>Masculino</option>
                                                                    <option>Outros</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>

                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                                <button type="submit"
                                                    class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Salvar</button>
                                                <button type="reset" class="btn btn-outline-warning">Desfazer
                                                    Alterações</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="changePassword" aria-labelledby="social-tab"
                                        role="tabpanel">
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="account-old-password">Senha Atual</label>
                                                            <input type="password" class="form-control"
                                                                id="account-old-password" required
                                                                placeholder="Old Password"
                                                                data-validation-required-message="This old password field is required">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="account-new-password">Nova Senha</label>
                                                            <input type="password" name="password"
                                                                id="account-new-password" class="form-control"
                                                                placeholder="New Password" required
                                                                data-validation-required-message="The password field is required"
                                                                minlength="6">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="account-retype-new-password">Confirmar Nova
                                                                Senha</label>
                                                            <input type="password" name="con-password"
                                                                class="form-control" required
                                                                id="account-retype-new-password"
                                                                data-validation-match-match="password"
                                                                placeholder="New Password"
                                                                data-validation-required-message="The Confirm password field is required"
                                                                minlength="6">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">Save
                                                        changes</button>
                                                    <button type="reset" class="btn btn-outline-warning">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer class="footer footer-static footer-light">

    </footer>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="../../../app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>

    <script src="../../../app-assets/js/scripts/pages/app-user.js"></script>
    <script src="../../../app-assets/js/scripts/navs/navs.js"></script>
    
</body>

</html>