<%- include ('../../Partials/headerStyle.ejs'); %>
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">

<body
    class="vertical-layout vertical-menu-modern dark-layout 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page"
    data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="dark-layout">

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-xl-7 col-md-9 col-10 d-flex justify-content-center px-0">
                        <div class="card rounded-0 mb-0" style="filter: drop-shadow(2px 4px 6px black);">
                            <div class="row m-0" style="width: 700px;">
                                <div class="col-lg-4 d-lg-block d-none text-center align-self-center">
                                    <img src="../../../app-assets/images/pages/register.jpg" style="width: 220px;"
                                        alt="branding logo">
                                </div>
                                <div class="col-lg-8 col-12 p-0">
                                    <div class="card rounded-0 mb-0 px-2 py-1">
                                        <div class="card-header pb-1">
                                            <div class="card-title">
                                                <h4 class="mb-0">Recuperar Senha</h4>
                                            </div>
                                        </div>
                                        <p class="px-2 mb-0">Digite seu e-mail</p>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-label-group">
                                                        <input type="email" id="email" class="form-control"
                                                            placeholder="E-mail">
                                                        <label for="inputEmail">E-mail</label>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <input id="question" class="form-control" disabled
                                                            style="display: none;">
                                                        <label id="questionLabel" for="question">Pergunta</label>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <input id="answer" class="form-control" style="display: none;">
                                                        <label id="answerLabel" for="answer">Resposta</label>
                                                    </div>
                                                </form>
                                                <div class="float-md-left d-block mb-1">
                                                    <a href="auth-login"
                                                        class="btn btn-outline-primary btn-block px-75">Login</a>
                                                </div>
                                                <div class="float-md-right mb-1" id="buscarPergunta"
                                                    onclick="carregaPergunta()">
                                                    <a class="btn btn-primary btn-block px-75">Recuperar
                                                        Senha</a>
                                                </div>
                                                <div class="float-md-right mb-1" id="avaliarResposta"
                                                    style="display: none;" onclick="avaliarResposta()">
                                                    <a class="btn btn-primary btn-block px-75">Recuperar
                                                        Senha</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>

        </div>
    </div>
    </div>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


</body>
<script>

    function notificacao(confirmButton, modal_color, icon, message) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: confirmButton,
            timer: 3000,
            timerProgressBar: true,
            background: modal_color,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: icon,
            title: message
        })
    }

    $("#question").attr('style', 'display:none')
    $("#questionLabel").attr('style', 'display:none')
    $("#answer").attr('style', 'display:none')
    $("#answerLabel").attr('style', 'display:none')
    $("#avaliarResposta").attr('style', 'display:none')

    function carregaPergunta() {

        let site = "http://localhost:3000/";
        $.ajax({
            type: 'get',
            url: site + 'email',
            data: { email: $("#email").val() },
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                if (retorno.data != null && retorno.data != undefined && retorno.data != "") {
                    console.log('success', retorno);
                    $("#question").removeAttr('style')
                    $("#questionLabel").removeAttr('style')
                    $("#answer").removeAttr('style')
                    $("#answerLabel").removeAttr('style')
                    $("#buscarPergunta").attr('style', 'display:none')
                    $("#avaliarResposta").removeAttr('style')
                    $("#buscarPergunta").attr('style', 'display:none')

                    $("#question").val(retorno.data.question + ' ?')
                }
                else {
                    notificacao(false, '#d33', 'error', 'E-mail não encontrado')
                    window.location = "/auth-forgot-password"
                }
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }

    function avaliarResposta() {
        let site = "http://localhost:3000/";
        $.ajax({
            type: 'get',
            url: site + 'email',
            data: { email: $("#email").val() },
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                if ($("#answer").val() == retorno.data.answer) {
                    localStorage.setItem("currentPasswordChange", JSON.stringify(retorno.data));
                    window.location = "/auth-reset-password";
                } else {
                    notificacao(false, '#d33', 'error', 'Resposta Errada')
                }
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }
</script>

</html>