<%- include ('../../Partials/headerStyle.ejs'); %>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 1px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <img class="img-fluid bg-cover rounded-0 w-100"
                                src="../../../app-assets/images/profile/user-uploads/logoo-removebg-preview (1).png"
                                alt="User Profile Image" style="width: 5% !important;">
                            <h2 class="content-header-title float-left mb-0">Loftera

                            </h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="profile-header mb-2">
                        <div class="relative">
                            <div class="cover-container">
                                <img class="img-fluid bg-cover rounded-0 w-100"
                                    src="../../../app-assets/images/profile/user-uploads/inicio.png"
                                    alt="User Profile Image" style="opacity: 30%;">
                            </div>
                            <div class="profile-img-container d-flex align-items-center justify-content-between">

                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center profile-header-nav">
                            <div class="row" style="margin-top: -628px;">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Buscar Imóveis</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form">
                                                <div class="form-body">

                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <div class="form-label-group">
                                                                <input type="text" id="local" class="form-control"
                                                                    name="local" placeholder="Endereço">
                                                                <label for="local">Endereço</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-12">
                                                            <div class="form-label-group">
                                                                <input type="number" id="valorMax" class="form-control"
                                                                    name="valorMax" placeholder="Valor Máximo">
                                                                <label for="valorMax">Valor Máximo</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 col-12" id="tipo">
                                                            <div value="casa" style="margin-right: 10px;"
                                                                class="btn btn-icon btn-flat-primary mb-1"><i
                                                                    class="fa fa-home" aria-hidden="true"></i></div>

                                                            <div value="apto" style="margin-right: 10px;"
                                                                class="btn btn-icon btn-flat-primary mb-1"><i
                                                                    class="fa fa-building-o" aria-hidden="true"></i>
                                                            </div>

                                                            <div value="quarto" style="margin-right: 10px;"
                                                                class="btn btn-icon btn-flat-primary mb-1"><i
                                                                    class="fa fa-bed" aria-hidden="true"></i></div>

                                                        </div>

                                                        <div class="col-md-2 col-12" style="right: 92px;">
                                                            <div class="mb-2">
                                                                <ul class="list-unstyled users-list m-0  d-flex align-items-center"
                                                                    id="estrelas">
                                                                    <li><a class="nav-link">Avaliação</a></li>
                                                                    <li data-toggle="tooltip"
                                                                        data-popup="tooltip-custom"
                                                                        data-placement="bottom" class="pull-up">
                                                                        <a class="nav-link" value="1"
                                                                            data-toggle="tooltip"
                                                                            data-placement="top"><i
                                                                                class="ficon feather icon-star"></i></a>
                                                                    </li>
                                                                    <li data-toggle="tooltip"
                                                                        data-popup="tooltip-custom"
                                                                        data-placement="bottom" class="pull-up">
                                                                        <a class="nav-link" value="2"
                                                                            data-toggle="tooltip"
                                                                            data-placement="top"><i
                                                                                class="ficon feather icon-star"></i></a>
                                                                    </li>
                                                                    <li data-toggle="tooltip"
                                                                        data-popup="tooltip-custom"
                                                                        data-placement="bottom" class="pull-up">
                                                                        <a class="nav-link" value="3"
                                                                            data-toggle="tooltip"
                                                                            data-placement="top"><i
                                                                                class="ficon feather icon-star"></i></a>
                                                                    </li>
                                                                    <li data-toggle="tooltip"
                                                                        data-popup="tooltip-custom"
                                                                        data-placement="bottom" class="pull-up">
                                                                        <a class="nav-link" value="4"
                                                                            data-toggle="tooltip"
                                                                            data-placement="top"><i
                                                                                class="ficon feather icon-star"></i></a>
                                                                    </li>
                                                                    <li data-toggle="tooltip"
                                                                        data-popup="tooltip-custom"
                                                                        data-placement="bottom" class="pull-up">
                                                                        <a class="nav-link" value="5"
                                                                            data-toggle="tooltip"
                                                                            data-placement="top"><i
                                                                                class="ficon feather icon-star"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-1 col-12">
                                                            <button type="submit" class="btn btn-primary mr-1 mb-1"
                                                                style="margin-top: -9px; right: 57px;"><i
                                                                    class="fas fa-search"></i> Buscar</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content-body">

            </div>
        </div>
    </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer class="footer footer-static footer-light">

    </footer>
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <script src="../../../app-assets/js/scripts/extensions/swiper.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/swiper.min.js"></script>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>

</body>

<script>
    var avaliacaoImovel;

    var estrelas = $("#estrelas").children(".pull-up")
    estrelas.on("click", (event) => {
        for (i = 0; i < estrelas.length; i++) {
            removeAttribute(estrelas[i])
        }
        var avaliacao = event.currentTarget.firstElementChild.getAttribute("value")
        for (i = 0; i < avaliacao; i++) {
            addAttribute(estrelas[i]);
        }
        avaliacaoImovel = avaliacao
    })

    var tipo = $("#tipo").children("div")
    tipo.on("click", (event) => {
        for (i = 0; i < tipo.length; i++) {
            $(tipo[i]).removeClass("imovelType")
        }
        console.log(event.currentTarget)

        $(event.currentTarget).addClass("imovelType")
    })

    function addAttribute(clicked) {
        clicked.setAttribute("style", "color: #7472f0 !important;");
    }

    function removeAttribute(clicked) {
        clicked.removeAttribute("style");
    }
</script>

</html>